.main-block {
  position: absolute;
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.house {
  top: 100px;
  left: 75px;
  position: absolute;
  width: 150px;
  height: 150px;
  background: coral;
}
.roof {
    position: absolute;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
}
.chimney {
  position: absolute;
  top: 5px;
  right: 80px;
  width: 20px;
  height: 60px;
  background: black;
}
.door {
  position: absolute;
  bottom: 50px;
  right: 80px;
  width: 60px;
  height: 90px;
  background: brown;
}
.window {
  position: absolute;
  top: 120px;
  left: 90px;
  width: 40px;
  height: 40px;
  background: cyan;
}